@page 
@model IdentityServerAdmin.Pages.ApiScope.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Api Scope</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApiScope.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ApiScope.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApiScope.DisplayName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ApiScope.DisplayName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApiScope.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ApiScope.Description)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApiScope.Emphasize)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ApiScope.Emphasize)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApiScope.Required)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ApiScope.Required)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApiScope.ShowInDiscoveryDocument)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ApiScope.ShowInDiscoveryDocument)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApiScope.ApiResourceId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ApiScope.ApiResourceId)
        </dd>
    </dl>

    <div>
        <form method="post">
            <input type="hidden" asp-for="ApiScope.Id" />
            <input type="hidden" asp-for="ApiScope.ApiResourceId" />
            <input type="submit" value="Remove" class="btn btn-danger" />
        </form>
    </div>
    <br />
    <div>
        <a asp-page="../Api/Details" asp-route-id="@Model.ApiScope.ApiResourceId">Back to Api Details</a>
    </div>

</div>
